@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

html {
  font-size: 24px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  display: inline-block;
}

.text-container {
  display: inline-flex;
  flex-direction: column;
  height: 2.5rem;
  overflow: hidden;
}

.text-container span {
  height: 2.3rem;
  color: lightcoral;
  animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  5% {
    transform: translateY(0);
  }
  10%{
    transform: translateY(-2.3rem);
  }
  15% {
    transform: translateY(-2.3rem);
  }
  20%{
    transform: translateY(-4.6rem);
  }
  25% {
    transform: translateY(-4.6rem);
  }
  30%{
    transform: translateY(-6.9rem);
  }
  35% {
    transform: translateY(-6.9rem);
  }
  40%{
    transform: translateY(-9.2rem);
  }
  45% {
    transform: translateY(-9.2rem);
  }
  50%{
    transform: translateY(-11.5rem);
  }
  55% {
    transform: translateY(-11.5rem);
  }
  60%{
    transform: translateY(-13.8rem);
  }
  65% {
    transform: translateY(-13.8rem);
  }
  70%{
    transform: translateY(-16.1rem);
  }
  75% {
    transform: translateY(-16.1rem);
  }
  80%{
    transform: translateY(-32.1rem);
  }
  85% {
    transform: translateY(-32.1rem);
  }
  90%{
    transform: translateY(-32.1rem);
  }
  95% {
    transform: translateY(-32.1rem);
  }

  100% {
    transform: translateY(0);
  }
}